:root {
  --lightsoftviolet: #eceaff;
  --softviolet: #9890e3;
  --violet: #4c3dcf;
  --title-color: #160d6d;
  --horizontal-space: 25px;
  --main-border: 1px solid #b1add4;
  --gray: rgba(0, 0, 0, 0.5);
}
