.welcome-header {
  margin: 90px 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header img {
  width: 200px;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

.welcome-header__text {
  width: 60%;
  color: rgba(1, 1, 1, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.login-form__input {
  padding: 15px;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  border-radius: 30px;
}

.login-form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.login-form__input:focus {
  border-color: #9890e3;
}

.login-form__btn {
  background-color: #9890e3;
  cursor: pointer;
  padding: 20px 0;
  border-radius: 5px;
  padding: 15px 0;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
  border-radius: 30px;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.login-form__btn:hover {
  background-color: #4c3dcf;
}

.login-form__a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}

#index-background {
  background-image: linear-gradient(to bottom, #9890e3 0%, #b1f4cf 100%);
  height: 100vh;
}

#welcome-screen {
  position: fixed;
  bottom: 0;
}

#welcome-screen img {
  width: 500px;
}
