.user-component__subtitle span i {
  color: tomato;
}

.more-screen .icon-row {
  margin-top: 25px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-bottom: 10px;
}

a:first-child div img {
  background-color: #f9ec80;
}

a:nth-child(2) div img {
  background-color: #9fd3f2;
}

a:nth-child(3) div img {
  background-color: #d4afeb;
}

a:nth-child(4) div img {
  background-color: #ffc6d2;
}

.more-suggestions__icon-text {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-text span:first-child {
  font-size: 11px;
  margin-bottom: 5px;
}

.more-suggestions__icon-text span:last-child {
  font-weight: 600;
}
